doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Firefly III')
        meta(name='author', content='James Cole')

        title Firefly III - A free and open source personal finance manager

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon/favicon.ico')
        link(rel='apple-touch-icon', sizes='180x180', href='assets/favicon/apple-touch-icon.png' )

        link(rel='icon', type='image/png', sizes='32x32', href='assets/favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='assets/favicon/favicon-16x16.png')

        link(rel='mask-icon', color='#1e6581', href='assets/favicon/safari-pinned-tab.svg')
        meta(name='msapplication-TileColor', content='#1e6581')
        meta(name='theme-color', content='#1e6581')

        // social
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:title', content='Firefly III')
        meta(name='twitter:site', content='@firefly_iii')
        meta(name='twitter:description', content='Firefly III')
        meta(name='twitter:image', content='https://www.firefly-iii.org/assets/logo/wall.png')
        meta(name='twitter:image:alt', content='Firefly III')

        // Font Awesome icons (free version)
        script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js', crossorigin='anonymous', integrity='sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w==', referrerpolicy='no-referrer')

        // analytics
        script.
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
            var u="https://analytics.firefly-iii.org/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '2']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();

            $('.portfolio-modal').on('shown.bs.modal', function (e) {
                var modal = $(e.currentTarget);
                _paq.push(['trackEvent', 'loadModal', modal.attr('id')]);
            })
        noscript
            p
                img(src='//analytics.firefly-iii.org/matomo.php?idsite=2&amp;rec=1', style='border:0;')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.bg-topbar.text-uppercase.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') Firefly III
                button.navbar-toggler.navbar-toggler-right.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#portfolio') Screenshots and info
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='https://docs.firefly-iii.org/?mtm_campaign=firefly-iii-org&mtm_kwd=top-link') Documentation
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='https://github.com/firefly-iii/firefly-iii') Firefly III on GitHub

        // Masthead
        header.masthead.bg-primary.text-white.text-center
            .container.d-flex.align-items-center.flex-column
                // Masthead Avatar Image
                img.masthead-avatar.mb-5(src='assets/logo/color.png', alt='Firefly III logo')
                // Masthead Heading
                h1.masthead-heading.text-uppercase.mb-0 Firefly III
                // Icon Divider
                .divider-custom.divider-light
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // Masthead Subheading
                p.masthead-subheading.font-weight-light.mb-0 A free and open source personal finance manager

        // Portfolio Section
        section#portfolio.page-section.portfolio
            .container
                // Portfolio Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-topbar.mb-0 Screenshots and info
                // Icon Divider
                .divider-custom
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                p.text-center.text-muted
                    | (click on the icons for more information)
                // Portfolio Grid Items
                .row.justify-content-center
                    // Portfolio Item 1
                    .col-md-6.col-lg-4.mb-5
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal1')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    | Firefly III features full transaction management.
                            img.img-fluid(src='assets/icons/015-money bag.png', alt='...')
                    // Portfolio Item 2
                    .col-md-6.col-lg-4.mb-5
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal2')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    | You can organise your transactions using budgets, categories and tags.
                            img.img-fluid(src='assets/icons/023-money.png', alt='...')
                    // Portfolio Item 3
                    .col-md-6.col-lg-4.mb-5
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal3')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    | Firefly III features an advanced rule engine for automated transaction management.
                            img.img-fluid(src='assets/icons/018-money bag.png', alt='...')
                    // Portfolio Item 4
                    .col-md-6.col-lg-4.mb-5.mb-lg-0
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal4')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    | Tools are available so you can import transactions into Firefly III.
                            img.img-fluid(src='assets/icons/008-contract.png', alt='...')
                    // Portfolio Item 5
                    .col-md-6.col-lg-4.mb-5.mb-md-0
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal5')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    | Firefly III features informative reports so you know how you're doing financially.
                            img.img-fluid(src='assets/icons/009-headhunter.png', alt='...')
                    // Portfolio Item 6
                    .col-md-6.col-lg-4
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal6')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    | Firefly III has a JSON REST API for all your extension requirements.
                            img.img-fluid(src='assets/icons/029-computer.png', alt='...')

        // About Section
        section#about.page-section.bg-primary.text-white.mb-0
            .container
                // About Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-white More
                // Icon Divider
                .divider-custom.divider-light
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // About Section Content
                .row
                    .col-lg-4.ml-auto
                        p.lead
                            |  "Firefly III" is a self-hosted financial manager. It can help you keep track of expenses, income, budgets and everything in between. It supports credit cards, shared household accounts and savings accounts. It’s pretty fancy. You should use it to save and organise money.
                    .col-lg-4.mr-auto
                        p.lead
                            |  You can read more about the way of working, the features and the current state in the documentation ("read more").
                // About Section Button
                .text-center.mt-4
                    a.btn.btn-xl.btn-outline-light(href='https://docs.firefly-iii.org/about-firefly-iii/introduction?mtm_campaign=firefly-iii-org&mtm_kwd=read-more')
                        i.fas.fa-lightbulb.mr-2
                        | Read more
                    a.btn.btn-xl.btn-outline-light(href='https://demo.firefly-iii.org/')
                        i.fas.fa-fire-alt.mr-2
                        | Demo
                    a.btn.btn-xl.btn-outline-light(href='https://www.patreon.com/jc5')
                        i.fas.fa-piggy-bank.mr-2
                        | Donate

        // Footer
        footer.footer.text-center
            .container
                .row
                    // Footer Location
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4 License
                        p.lead.mb-0
                            | GNU AGPL 3 or later
                    // Footer Social Icons
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4 Around the Web
                        a.btn.btn-outline-light.btn-social.mx-1(href='https://github.com/firefly-iii/firefly-iii')
                            i.fab.fa-fw.fa-github
                        a.btn.btn-outline-light.btn-social.mx-1(href='https://twitter.com/firefly_iii')
                            i.fab.fa-fw.fa-twitter
                        a.btn.btn-outline-light.btn-social.mx-1(href='https://old.reddit.com/r/FireflyIII/')
                            i.fab.fa-fw.fa-reddit
                        a.btn.btn-outline-light.btn-social.mx-1(href='https://www.patreon.com/jc5')
                            i.fab.fa-fw.fa-patreon
                    // Footer About Text
                    .col-lg-4
                        h4.text-uppercase.mb-4 Credits
                        p.lead.mb-0
                            a(href='http://startbootstrap.com') Layout
                            | /
                            a(href='http://startbootstrap.com') icons
                            | /
                            | logo by Cherie Woo
        // Copyright Section
        div.copyright.py-4.text-center.text-white
            .container
                small
                    | Copyright &copy;
                    a(href='mailto:james@firefly-iii.org') James Cole
                    // This script automatically adds the current year to your website footer
                    // (credit: https://updateyourfooter.com/)
                    script.
                        document.write(new Date().getFullYear());

        // Scroll to Top Button (Only visible on small and extra-small screen sizes)
        .scroll-to-top.d-lg-none.position-fixed
            a.js-scroll-trigger.d-block.text-center.text-white.rounded(href='#page-top')
                i.fa.fa-chevron-up

        // Portfolio Modals

        // Portfolio Modal 1
        #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolioModal1Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Portfolio Modal - Title
                                    h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModal1Label Full Transaction Management
                                    // Icon Divider
                                    .divider-custom
                                        .divider-custom-line
                                        .divider-custom-icon
                                            i.fas.fa-star
                                        .divider-custom-line
                                    // Portfolio Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/screenshots/ff1.png', alt='...')
                                    // Portfolio Modal - Text
                                    p.mb-2
                                        | Firefly III features a double-entry bookkeeping system. You can quickly enter and organize your transactions in multiple currencies.
                                    p.mb-2
                                        | The tool allows you to add unlimited accounts, transactions and meta-data. It works surprisingly well with many years of financial records in the database. Firefly III can also manage crypto currencies.
                                    p.mb-2
                                        | You can read more about this in the <a href="https://docs.firefly-iii.org/concepts/transactions?mtm_campaign=firefly-iii-org&mtm_kwd=transactions" title="documentation of Firefly III">documentation of Firefly III</a> and you can try Firefly III for yourself on <a href="https://demo.firefly-iii.org/" title="demo site">the demo website</a>.
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window
        // Portfolio Modal 2
        #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolioModal2Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Portfolio Modal - Title
                                    h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModal2Label Budgets, categories and tags
                                    // Icon Divider
                                    .divider-custom
                                        .divider-custom-line
                                        .divider-custom-icon
                                            i.fas.fa-star
                                        .divider-custom-line
                                    // Portfolio Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/screenshots/ff2.png', alt='...')
                                    // Portfolio Modal - Text
                                    p.mb-2
                                        | Name your poison. Do you like to work with tags? Need to budget your expenses? Want to categorize all of your hobby expenses? Look no further. Firefly III supports all kinds. Budgets can be expanded with limits in multiple currencies, so you can budget both your daily household expenses and what you spend in Imperial Credits when visiting Tatooine.
                                    p.mb-2
                                        | You can read more about this in the <a href="https://docs.firefly-iii.org/?mtm_campaign=firefly-iii-org&mtm_kwd=meta" title="documentation of Firefly III">documentation of Firefly III</a> and you can try Firefly III for yourself on <a href="https://demo.firefly-iii.org/" title="demo site">the demo website</a>.
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window
        // Portfolio Modal 3
        #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolioModal3Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Portfolio Modal - Title
                                    h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModal3Label Rule Engine
                                    // Icon Divider
                                    .divider-custom
                                        .divider-custom-line
                                        .divider-custom-icon
                                            i.fas.fa-star
                                        .divider-custom-line
                                    // Portfolio Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/screenshots/ff3.png', alt='...')
                                    // Portfolio Modal - Text
                                    p.mb-2
                                        |  No more tedious transaction entering. Use rules to quickly convert shorthands to detailed transactions. Clean up your banks abysmal CSV files. Use the rule engine to automatically set budgets, remove categories, append descriptions, change notes or something else entirely.
                                    p.mb-2
                                        | You can read more about this in the <a href="https://docs.firefly-iii.org/advanced-concepts/rules?mtm_campaign=firefly-iii-org&mtm_kwd=rules" title="documentation of Firefly III">documentation of Firefly III</a> and you can try Firefly III for yourself on <a href="https://demo.firefly-iii.org/" title="demo site">the demo website</a>.
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window
        // Portfolio Modal 4
        #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolioModal4Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Portfolio Modal - Title
                                    h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModal4Label Import transactions
                                    // Icon Divider
                                    .divider-custom
                                        .divider-custom-line
                                        .divider-custom-icon
                                            i.fas.fa-star
                                        .divider-custom-line
                                    // Portfolio Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/screenshots/ff4.png', alt='...')
                                    // Portfolio Modal - Text
                                    p.mb-2.text-left
                                        | A special <a href="https://github.com/firefly-iii/data-importer/">Data Importer</a> helps you import data into your Firefly III administration.
                                    p.mb-2.text-left
                                        | It supports many (thousands!) of banks and financial institutions, but it can also import from CSV files.
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window
        // Portfolio Modal 5
        #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolioModal5Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Portfolio Modal - Title
                                    h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModal5Label Reports
                                    // Icon Divider
                                    .divider-custom
                                        .divider-custom-line
                                        .divider-custom-icon
                                            i.fas.fa-star
                                        .divider-custom-line
                                    // Portfolio Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/screenshots/ff5.png', alt='...')
                                    // Portfolio Modal - Text
                                    p.mb-2
                                        | Firefly III has advanced reporting capabilities, showing your expenses per week, month or year. But it can also help you audit your accounts with detailed list views. Or perhaps compare budgets or tags? It's all possible.
                                    p.mb-2
                                        | You can read more about this in the <a href="https://docs.firefly-iii.org/advanced-concepts/reports?mtm_campaign=firefly-iii-org&mtm_kwd=reports" title="documentation of Firefly III">documentation of Firefly III</a> and you can try Firefly III for yourself on <a href="https://demo.firefly-iii.org/" title="demo site">the demo website</a>.
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window
        // Portfolio Modal 6
        #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolioModal6Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Portfolio Modal - Title
                                    h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModal6Label JSON REST API
                                    // Icon Divider
                                    .divider-custom
                                        .divider-custom-line
                                        .divider-custom-icon
                                            i.fas.fa-star
                                        .divider-custom-line
                                    // Portfolio Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/screenshots/ff6.png', alt='...')
                                    // Portfolio Modal - Text
                                    p.mb-2
                                        |  For the advanced and mobile users out there, Firefly III features an expansive JSON REST API that allows you to tap into Firefly III's most important features. Create transactions, manage categories and get chart data from any app or system.
                                    p.mb-2
                                        | You can read more about this in the <a href="https://api-docs.firefly-iii.org/" title="API documentation of Firefly III">API documentation of Firefly III</a>, where you can try the API against the <a href="https://demo.firefly-iii.org/" title="demo site">the demo website</a>.
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window

        // Bootstrap core JS
        script(src='https://code.jquery.com/jquery-3.5.1.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js')

        // Core theme JS
        script(src='js/scripts.js')
